body {
	margin: 0px;
	padding: 0px;

}

h1 {
	margin: 0;
	font-family: hiragino sans;	
	font-weight: 100;
}
h1 {
    margin: 0;
    font-size: 4em;
    font-family: hiragino sans; 
    font-weight: 100;
}
header {
	margin: 0px;
	padding: 0px;
	height: 300px;
	background-color: black;
	color: white;

		 display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#content {
	width: 100%;
   
}

img {
	margin: 5px;
	max-height:100%; 
	max-width:100%;
}

.placeholder {

    width: 100%;
	    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.full {
	width: 100%;
}

.half {
	width: 50%;

}

.onethird{
	width: 33%;
}

.onefourth {
	width: 25%;
}


.flexRow {
     display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrap {
      /* force the div to properly contain the floated images: */
      position:relative;
      float:left;
      clear:none;
      overflow:hidden;
    }
   
.wrap img {
      position:relative;
      z-index:1;
    }

.wrap .desc {
      display:block;
      position:absolute;
      width:100%;
      top:10%;
      left:0;
      z-index:2;
      text-align:center;
    }

@media only screen and (max-device-width: 480px) {


img {
    margin: 5px;
    max-height:100%; 
    max-width:100%;
}
    .placeholder {
    margin: 10px;
    width: 100%;
     display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.full {
    width: 100%;

    }

.half {
    width: 50%;
}

.onethird {
    width: 33%;
}

.onefourth {
    width: 25%;
}

}




